<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.driver.loader.v10</id>
    <name><![CDATA[hive隔离插件]]></name>
    <active>yes</active>
    <version>3.0</version>
    <env-version>10.0</env-version>
    <jartime>2019-08-16</jartime>
    <vendor>author</vendor>
    <description><![CDATA[hive隔离插件。]]></description>
    <change-notes><![CDATA[
      [2020-08-08]初始化插件。<br/>
    ]]></change-notes>
    <extra-core>
        <DataSourceDriverLoader class="com.fr.plugin.driver.loader.HiveClassLoaderHandler" name="HiveClassLoaderHandler"/>
    </extra-core>
    <function-recorder class="com.fr.plugin.driver.loader.HiveClassLoaderHandler"/>
</plugin>